.hero{
    display: flex;
    height: auto;
    width: 90%;
   
   
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
}
.h4{
    font-weight: bolder;
    color: gray;
}

.matter h3{
    font-weight: lighter;
    color: #525ded;
}
.matter h1{
    font-size: 40px;
}
.matter{
    width: 45%;
   
}

.sac{
    display: flex;
}
.sac1{
    height: 50px;
    background-color: #525ded;
    border: 1px solid #525ded ;
    padding: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
    
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.sac2{
    height: 50px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
   border: 1px solid #525ded ;
    padding: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    color: #525ded;
}
.heroimg{
    width: 55%;
    height: 100%;
}
.heroimg img{
    height: 100%;
    width: 100%;
}

.h2m{
    
    width: 90%;
    height: auto;
    display: flex;
   
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.h2m1{
    
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto
    
}
.h2m1 h2{
    
    text-align: center;
}
.h2m1 p{
    text-align: center;
    font-size: 25px;
   
    color: gray;
    width: 50%;
}

.h2m1h2{
    
   margin-top: -1%;
}


.vcp{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #525ded;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.products{
    display: flex;
    width: 90%;
    text-align: left;
    margin: auto;
    margin-left: 10%;
    justify-content: space-around;
 
}

.products p{
    width: 70%;
    color: gray;
    font-weight: light;
}
.products h2{
    font-weight: normal;
}


@media screen and (max-width:600px) {
    .hero{
        flex-direction: column-reverse;
    }
    .matter{
        width: 100%;
        text-align: center;
    }
    .sac{
        margin: auto;
        justify-content: center;
    }
    .heroimg{
        width: 100%;
    }
    .h2m{
        flex-direction: column;
        margin: auto;
        text-align: center;
    }
    .products{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-left: 0%;
    }
    .products p{
        width: 100%;
    }
    
}